#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .div-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#1890ff;
  }
  .div-logo img{
    height: 32px;
    width: 32px;
  }
  .srm-div{
    margin-left: 8px;
    font-size:18px;
    font-stretch:100%;
    color: #fff;
    font-weight: 600;
  }
  .layout-header{
      display: flex;
      align-items: center;
      background: #1890ff;
      height:45px;
      padding: 0
      
  }
  